{% extends "base.html" %}

{% block content %}
  <div class="container">
    <header class="page-header">
      <p class="description">Some details about my site</p>
    </header>
    <div class="form-fields paper-area">
      <h2>List of stuff</h2>
      {% with pages=pages  %}
        {% include "_list.html" %}
      {% endwith %}
    </div>

    <div class="form-fields paper-area">
      <span class="paper-title">paper-title</span><br>
      <span class="paper-subtitle">paper-subtitle</span>
      <div class="box-area">box-area</div>

      <div class="error-message">error-message</div>
      <div class="code">code</div>
      <p class="fine-print">
        *This is the fine print.
      </p>
    </div>
  </div>
{% endblock content %}